button {
  background: none;
  border: 2px solid white;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

body {
  background: linear-gradient(to right, darkblue, deepPink);
}

.navbar {
  min-height: 80px;
  background-color: black;
}

footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 80px;
}

#about_card {
  border-radius: 2%;
  background-color: white;
  width: 800px;
  height: 500px;
  display: inline-block;
}

#about_container {
  position: relative;
}

.current_card {
  text-align: center;
  margin-top: 7%;
  max-height: 1000px;

}

.img_container {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 10px;
  left: 400px;
  

}

.profile_image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  
}
